/*@media only screen 
    and (device-width:1000px) {
		.overviewProduct {
			clear:none;
			height: 401px;
			display: inline-table;
		}
		
	}*/

@media only screen 
and (max-width : 1000px) {
  .overviewProduct {
	clear:both;
	display: table;
	border-bottom: 1px solid #999999;
	padding-bottom: 50px;	
	height:auto;
	width:auto;
	margin:0 auto;
	padding-top:60px;
	min-width:315px
  }
  .prod-img-li {
	text-align: center;
	margin-left: 68px;
  }
  .products {
	/*margin:0;*/
  }
  .prod-letter  {
	float:left;
	margin:20px 0 25px 15px;
  }
  .produl {
	margin:0;
  }


	.prod-letter{
		height:auto;
		float:letter;
	}
	.prod-features {
		min-width:150px;
	}
	.rightMobile {
		float:right;
		min-width:145px;
		/*border-left: 1px solid #999999;*/
		padding-left: 30px;
		margin-top: 20px;
		width: 170px;
	}
	.rightMobile ul {
		margin-left: 12px;
	}
	.divider {
		display:none;
	}
	.overviewButton a{
		float: left;
		clear: left;
		width: 126px;
		height:40px;
		line-height:40px;
		margin-left: 15px;
	}
	.divider2 {
	display:block;
	width: 1px;
	height: 172px;
	float: initial;
	margin: 20px auto;
	background-color:#8c9194;
	}

  div.wrapper {
	height:100%;
  }

  div.page {
  	-webkit-transform: skew(0,0);
    -webkit-transform-origin: 0% 0%;
	
	-moz-transform: skewX(0,0);
    -moz-transform-origin: 0% 0%;
	
	-ms-transform: skew(0); 
	-ms-transform-origin:0% 0%; 
	
	-o-transform:skew(0,0); 
    -o-transform-origin:0% 0%;
	
	transform: skew(0,0);
    transform-origin: 0% 0%;
	
	/*transition:none;*/
  }
  
  .page.content1 {
		top:0;
		left:initial;
		transition:none;
		margin:0;
		width:100%;
  }
  .page.content2 {
  		top:0;
		left:initial;
		margin:0;
		width:5%;
  }
  .arrow-right, .arrow-left {
	display: inherit;
  }
  .arrow-right:nth-of-type(1), .arrow-left:nth-of-type(1), .arrow-left:first-of-type, .arrow-left:last-of-type
   {
	margin-top:175px;
  }
    .arrow-right:nth-of-type(2), .arrow-left:nth-of-type(2)
   {
	margin-top:625px;
  }
    .arrow-right:nth-of-type(3), .arrow-left:nth-of-type(3)
   {
	margin-top:1150px;
  }
    .arrow-right:nth-of-type(4), .arrow-left:nth-of-type(4)
   {
	margin-top:1750px;
  }
  #grey {
	/*position:fixed;*/
  }
  
  

  
  .skewfix {
  	-webkit-transform: skew(0,0);
    -webkit-transform-origin: 0% 0%;
	
	-moz-transform: skewX(0,0);
    -moz-transform-origin: 0% 0%;
	
	-ms-transform: skew(0); 
	-ms-transform-origin:0% 0%; 
	
	-o-transform:skew(0,0); 
    -o-transform-origin:0% 0%;
	
	transform: skew(0,0);
    transform-origin: 0% 0%;
  }
  
  #content {
	padding-top:66px;
  }
  
  #Swiredg .prod-img {
	content:url('../images/mobile/NudeAudio_Move_S-wired_Portable_Speaker_coral_front.png');
	margin: auto;
}
  #Swired .prod-img {
	content:url('../images/mobile/NudeAudio_Move_S-wired_Portable_Speaker_mint_front.png');
	margin: auto;
}
  #Swiredg img.prod-letter {
	content:url('../images/mobile/SWired-coral.png');
	height:auto;
	}
 #Swired img.prod-letter {
	content:url('../images/mobile/SWired-mint.png');
	height:auto;
	}
  #Swiredg .rightMobile, #Swired .rightMobile{
	height: 165px;
	}
  #Sg .prod-img {
	content:url('../images/mobile/NudeAudio_Move_S_Bluetooth_Speaker_coral_front.png');
	margin: auto;
}
  #S .prod-img {
	content:url('../images/mobile/NudeAudio_Move_S_Bluetooth_Speaker_mint_front.png');
	margin: auto;
}
  #Sg img.prod-letter {
	content:url('../images/mobile/S-coral.png');
	height:auto;
}
  #S img.prod-letter {
	content:url('../images/mobile/S-mint.png');
	height:auto;
}
  #Sg .rightMobile,  #S .rightMobile{
	height: 180px;
}
  #Mg .prod-img {
	content:url('../images/mobile/NudeAudio_Move_M_Bluetooth_Speaker_coral_front.png');
	margin: auto;
}  
#M .prod-img {
	content:url('../images/mobile/NudeAudio_Move_M_Bluetooth_Speaker_mint_front.png');
	margin: auto;
}
  #Mg img.prod-letter {
	content:url('../images/mobile/M-coral.png');
	height:auto;
} 
 #M img.prod-letter {
	content:url('../images/mobile/M-mint.png');
	height:auto;
}
  #Mg .divider2, #M .divider2{
	height: 215px;
	}
  #Lg .prod-img {
	content:url('../images/mobile/NudeAudio_Move_L_Bluetooth_Speaker_coral_front.png');
	margin: auto;
}  
#L .prod-img {
	content:url('../images/mobile/NudeAudio_Move_L_Bluetooth_Speaker_mint_front.png');
	margin: auto;
}
  #Lg img.prod-letter {
	content:url('../images/mobile/L-coral.png');
	height:auto;
}  
#L img.prod-letter {
	content:url('../images/mobile/L-mint.png');
	height:auto;
}
  #Lg .divider2, #L .divider2{
	height: 215px;
	}
#Lg .prod-img-li, #L .prod-img-li {
margin-left: -200px;
}

}
/*
@media only screen 
    and (max-width:350px) {
		.divider2 {
			display:none;
		}
		.rightMobile {
			clear:both;
			float:none;
			margin: 20px auto 0 auto;
		}
		.prod-letter {
			margin: 20px auto 25px auto;
		}
		.prod-letter-li {
			width:126px;
		}
		.overviewButton {
			margin: 0 auto;
		}
	}*/
	
@media only screen 
and (max-width : 400px) {
  .overviewProduct {
	clear:both;
	display: table;
	border-bottom: 1px solid #999999;
	padding-bottom: 50px;	
	height:auto;
	width:auto;
	margin:0 auto;
	padding-top:60px;
	min-width: 320px;
  }
  .prod-img-li {
	text-align: center;
	margin-left: 42px;
  }
  .products {
	/*margin:0;*/
  }
  .prod-letter  {
	float:left;	
	margin:20px 0 25px 0;
  }
  .produl {
	margin:0;
	width:315px;
  }

	.prod-letter-li, .overviewButton a {
	margin-left: 30px;
	}
	.prod-letter{
		width:100px;
		height:auto;
		float:letter;
	}
	.rightMobile {
		float:right;
		min-width:145px;
		/*border-left: 1px solid #999999;*/
		padding-left: 30px;
		margin-top: 20px;
		width: 155px;
	}
	#productswipe {
		font-size:14px;
	}
	.prod-feat {
		height:29px;
		width:29px;
		}
	.prodDesc {
		width:115px;
		height:75px;
	}
	.featDesc {
		font-size:11px;
		padding-top: 5px;
		line-height: 15px;
	}
	.rightMobile ul {
		margin-left: 12px;
	}
	.divider {
		display:none;
	}
	.overviewButton a{
		float: left;
		clear: left;
		width: 100px;
		height:30px;
		line-height:30px;
	}
	.divider2 {
	display:block;
	width: 1px;
	height: 172px;
	float: initial;
	margin: 20px auto;
	background-color:#8c9194;
	}

  div.wrapper {
	height:100%;
  }

  div.page {
  	-webkit-transform: skew(0,0);
    -webkit-transform-origin: 0% 0%;
	
	-moz-transform: skewX(0,0);
    -moz-transform-origin: 0% 0%;
	
	-ms-transform: skew(0); 
	-ms-transform-origin:0% 0%; 
	
	-o-transform:skew(0,0); 
    -o-transform-origin:0% 0%;
	
	transform: skew(0,0);
    transform-origin: 0% 0%;
	
	/*transition:none;*/
  }
  
  .page.content1 {
		top:0;
		left:initial;
		transition:none;
		margin:0;
		width:100%;
  }
  .page.content2 {
  		top:0;
		left:initial;
		margin:0;
		width:5%;
  }
  .arrow-right, .arrow-left {
	display: inherit;
  }
  .arrow-right:nth-of-type(1), .arrow-left:nth-of-type(1), .arrow-left:first-of-type, .arrow-left:last-of-type
   {
	margin-top:180px;
  }
    .arrow-right:nth-of-type(2), .arrow-left:nth-of-type(2)
   {
	margin-top:660px;
  }
    .arrow-right:nth-of-type(3), .arrow-left:nth-of-type(3)
   {
	margin-top:1140px;
  }
    .arrow-right:nth-of-type(4), .arrow-left:nth-of-type(4)
   {
	margin-top:1720px;
  }
  #grey {
	/*position:fixed;*/
  }
  
  

  
  .skewfix {
  	-webkit-transform: skew(0,0);
    -webkit-transform-origin: 0% 0%;
	
	-moz-transform: skewX(0,0);
    -moz-transform-origin: 0% 0%;
	
	-ms-transform: skew(0); 
	-ms-transform-origin:0% 0%; 
	
	-o-transform:skew(0,0); 
    -o-transform-origin:0% 0%;
	
	transform: skew(0,0);
    transform-origin: 0% 0%;
  }
  
  #content {
	padding-top:66px;
  }
  
  #Swiredg .prod-img {
	content:url('../images/mobile/NudeAudio_Move_S-wired_Portable_Speaker_coral_front.png');
	margin: auto;
	height:150px;
}
  #Swired .prod-img {
	content:url('../images/mobile/NudeAudio_Move_S-wired_Portable_Speaker_mint_front.png');
	margin: auto;
	height:150px;
}
  #Swiredg img.prod-letter {
	content:url('../images/mobile/SWired-coral.png');
	height:auto;
	}
 #Swired img.prod-letter {
	content:url('../images/mobile/SWired-mint.png');
	height:auto;
	}
  #Swiredg .rightMobile, #Swired .rightMobile{
	height: 165px;
	}
  #Sg .prod-img {
	content:url('../images/mobile/NudeAudio_Move_S_Bluetooth_Speaker_coral_front.png');
	margin: auto;
	height:150px;
}
  #S .prod-img {
	content:url('../images/mobile/NudeAudio_Move_S_Bluetooth_Speaker_mint_front.png');
	margin: auto;
	height:150px;
}
  #Sg img.prod-letter {
	content:url('../images/mobile/S-coral.png');
	height:auto;
}
  #S img.prod-letter {
	content:url('../images/mobile/S-mint.png');
	height:auto;
}
  #Sg .rightMobile,  #S .rightMobile{
	height: 180px;
}
  #Mg .prod-img {
	content:url('../images/mobile/NudeAudio_Move_M_Bluetooth_Speaker_coral_front.png');
	margin: auto;
	height:150px;
}  
#M .prod-img {
	content:url('../images/mobile/NudeAudio_Move_M_Bluetooth_Speaker_mint_front.png');
	margin: auto;
	height:150px;
}
  #Mg img.prod-letter {
	content:url('../images/mobile/M-coral.png');
	height:auto;
} 
 #M img.prod-letter {
	content:url('../images/mobile/M-mint.png');
	height:auto;
}
  #Mg .divider2, #M .divider2{
	height: 215px;
	}
  #Lg .prod-img {
	content:url('../images/mobile/NudeAudio_Move_L_Bluetooth_Speaker_coral_front.png');
	margin: auto;
	height:200px;
}  
#L .prod-img {
	content:url('../images/mobile/NudeAudio_Move_L_Bluetooth_Speaker_mint_front.png');
	margin: auto;
	height:200px;
}
  #Lg img.prod-letter {
	content:url('../images/mobile/L-coral.png');
	height:auto;
}  
#L img.prod-letter {
	content:url('../images/mobile/L-mint.png');
	height:auto;
}
  #Lg .divider2, #L .divider2{
	height: 215px;
	}
#Lg .prod-img-li, #L .prod-img-li {
	margin-left: -150px;
	height:200px;
}

}